/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: "Roboto Medium";
  src: url("./Roboto-Medium.eot") format("eot"),
    url("./Roboto-Medium.woff") format("woff"),
    url("./Roboto-Medium.ttf") format("truetype"),
    url("./Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
