@import "./function";

.container {
  max-width: 1247px;
  margin: 0 auto;
  position: relative;
}
.container-admin {
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-right: auto;
  margin-left: auto;
}
.height-0-px {
  height: 0px;
}
.width-100-oo {
  width: 70% !important;
}
.tranForm-rotate-0 {
  transform: rotate(0deg) !important;
}
.tranForm-rotate-90 {
  transform: rotate(90deg) !important;
}
$boxShowCardBlack: 0 1px 2px rgb(56 65 74 / 15%);
@mixin fontAllWeb {
  // font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.productCart__nameMobile {
  display: none;
}
.fullWidth {
  width: 100% !important;
}
.pageTopBar {
  left: 230px;
}
.pageTopBarW {
  left: 60px;
}
a {
  color: #000;
}
td,
tfoot,
th,
thead,
tr {
  // border-color: inherit;
  // border-style: solid;
  // border-width: 0;
}
table {
  border-collapse: collapse;
}
a {
}
.fxConfirm {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: none;
  &__inner {
    background-color: $sp-background-color-white;
    width: 350px;
    height: auto;
    border-radius: 4px;
    margin: 10px auto;
    padding: 10px 25px;
    text-align: center;
    .title {
      font-size: 1.2rem;
      font-weight: 400;
    }
    .ipn {
      margin-top: 15px;
      display: flex;
      align-items: center;
      input {
        padding: 12px;
        width: calc(100% - 50px);
        outline: none;
        border: 1px solid #e7e7e7;
        border-right: 0;
      }
      .fa-size {
        width: 50px;
        padding: 11.9px;
        border: 1px solid #e7e7e7;
        border-left: 0;
      }
    }
    .btn {
      margin-top: 5px;
      button {
        padding: 8px 12px;
        width: calc(50% - 2px);
        &:first-child {
          background-color: $sp-background-color-primary;
          border: none;
          cursor: pointer;
          color: $sp-color-text-white;
        }
        &:last-child {
          background-color: $sp-background-color-danger;
          border: none;
          color: $sp-color-text-white;
        }
      }
    }
  }
}
.fixedSearchEarth {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  &__inner {
    display: flex;
    max-width: 500px;
    background-color: $sp-background-color-white;
    height: calc(100vh - 120px);
    position: sticky;
    overflow-y: scroll;
    margin: 17px auto;

    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $sp-background-color-primary;
    }

    .search {
      width: 100%;
      position: relative;
      .close {
        position: absolute;
        top: 3px;
        left: 10px;
        &:hover .fa-size {
          transform: rotate(180deg);
          cursor: pointer;
        }
        .fa-size {
          transition: all 0.3s;

          font-size: 1.3rem;
          color: $sp-color-text-danger;
        }
      }
      .header {
        text-align: center;
        padding: 10px;
        label {
          text-align: center;
          width: 100%;
          font-size: 1.2rem;
        }
        input {
          margin-top: 7px;
          outline: none;
          padding: 7px 10px;
          border: 1px solid #ddd;

          width: 100%;
        }
      }
      .listEarth {
        margin-top: 10px;
        &__item {
          display: flex;
          justify-content: space-between;
          font-weight: 300;
          padding: 7px;
          font-size: 0.89rem;
          border: 1px solid #ddd;
          border-bottom: 0;
          cursor: pointer;

          &:hover {
            background-color: #ddd;
          }
          &:last-child {
            border-bottom: 1px solid #ddd;
          }
          .fa-size {
            color: $sp-background-color-success;
          }
          .fa-size-w {
            color: #4064ac;
            margin-right: 6px;
          }
          span {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
.menuFixedIdx {
  //display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: #ffff;

  &__inner {
    position: relative;
    .close {
      position: absolute;
      top: -10px;
      right: 0;
      .fa-size {
        font-size: 1.3rem;
        color: $sp-color-text-danger;
      }
    }
    &___header {
      padding-top: 15px;
      .search {
        padding: 10px;
        display: flex;
        align-items: center;
        .fa-size {
          padding: 6.5px;
          color: #b1b1b1;
          border-right: 0;
          border: 2px solid #e5e5e6;
        }
        input {
          width: 100%;
          outline: none;
          resize: horizontal;
          border: 2px solid #e5e5e6;
          border-left: 0;
          padding: 6px 10px;
        }
      }
      .user {
        padding: 10px;
        border-top: 1px solid #dddd;
        margin-top: 6px;
        display: flex;
        align-items: center;
        .avatar {
          width: 60px;
          img {
            max-width: 60px;
            border-radius: 10px;
          }
        }
        .flexUser {
          margin-left: 9px;
          button {
            border: 2px solid $sp-background-color-primary-2;
            border-radius: 6px;
            background: none;
            padding: 7px 20px;
          }
        }
      }
    }
    &___menu {
      position: sticky;
      height: calc(100vh - 215px);
      overflow-y: scroll;
      .menuWp {
        position: relative;
        border-top: 1px solid #ddd;
        padding-top: 6px;
        &:first-child {
        }
        &__nameFix {
          top: -10px;
          left: 15px;
          position: absolute;
          span {
            font-size: 0.8rem;
            background-color: $sp-background-color-white;
            padding-left: 5px;
            padding-right: 5px;
            color: $sp-color-text-primary;
            font-family: "Roboto", sans-serif;
          }
        }
      }
      .item-cart {
        position: relative;
      }

      &____item {
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        padding: 10px;
        align-items: baseline;
        &:hover {
          background-color: rgba(239, 239, 239, 0.48);
        }
        .fa-size {
          line-height: 15px;
          color: #4c4c4c;
          font-size: 1.25rem;
          width: 26px;
        }
        .fa-item-cart {
          position: relative;
        }
        span {
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 0.9rem;
          @include textOverflow(1);
          margin-left: 5px;
        }
        b {
          position: absolute;
          font-size: 0.85rem;
          color: $sp-color-text-white;
          padding: 6px;
          line-height: 13px;
          left: 93px;
          top: -5px;
          border-radius: 50%;
          background-color: $sp-background-color-danger;
        }
      }
    }
  }
}
.fixedHelp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  &__content {
    position: relative;
    &___wp {
      position: relative;
      .setting {
        position: absolute;
        z-index: -1;
        left: -6px;
        top: -6px;
        bottom: 0;
        text-align: center;
        width: 100%;

        .fa-size {
          transition: all 0.3s;
          font-size: 4.5rem;
          width: 100%;
          color: $sp-background-color-primary-2;
        }
      }
      &____image {
        width: 60px;
        height: 60px;
        background-color: #ffc739;
        border-radius: 50%;

        img {
          padding: 8px;
          border-radius: 50%;
          width: 100%;
          height: 100%;
        }
      }
      .menu {
        display: none;
        position: absolute;
        right: 66px;
        bottom: 0;
        width: 200px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        border-radius: 2px;
        background-color: $sp-background-color-white;
        &__item {
          padding: 10px;
          display: flex;
          align-items: center;
          &:hover {
            background-color: rgba(245, 245, 245, 0.5);
          }
          .fa-size {
          }
          .fa-error-ico {
            color: $sp-color-text-danger;
          }
          .fa-chat-ico {
            color: $sp-color-text-primary;
          }
          .fa-support-ico {
            color: $sp-color-text-info;
          }
          .fa-contact-ico {
            color: $sp-color-text-warning;
          }
          span {
            margin-left: 7px;
          }
        }
      }
    }
  }
}
.breadcrumb {
  &__content {
    padding: 5px;
    .main {
      &__item {
        display: inline-block;
        color: #acacac;
        font-size: 0.9rem;
        font-weight: 500;
        margin-right: 4px;
        &:not(:last-child)::after {
          padding-left: 3px;
          content: "/";
        }
      }
    }
  }
}
.fa-scale-1 {
  transform: rotate(90deg);
}
.mySlides {
  display: block;
}
.displayNone {
  display: none;
}
.fixedLogin {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: flex;
  transition: all 0.3s;
  &__inner {
    position: relative;
    margin: auto;
    background-color: $sp-background-color-white;
    border-radius: 8px;
    padding: 10px;
    width: 675px;
    max-height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $sp-background-color-primary;
    }
    .inputLogin {
      max-width: 450px;
      margin: auto;
    }
    .inputCode {
      max-width: 550px;
      margin: auto;
    }
    .prev {
      position: absolute;
      cursor: pointer;
      left: 15px;
      top: 15px;
      .fa-size {
        font-size: 1.7rem;
      }
    }
    .close {
      position: absolute;
      right: 20px;
      top: 15px;
      .fa-size {
        font-size: 1.7rem;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          transform: rotate(180deg);
        }
      }
    }
    .logo {
      text-align: center;
      border-bottom: 1px solid #f6f6f6;
      img {
        width: 60px;
      }
    }
    .content {
      margin-top: 10px;
      h4 {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 700;
        color: #333333;
        font-family: "Roboto", sans-serif;
      }
      p {
        text-align: center;
        margin-top: 7px;
      }
    }
    .inputLogin {
      .regUser {
        margin-top: 10px;
        &__item {
          display: inline-block;
          width: 100%;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
          label {
            font-weight: 500;
          }
          input {
            padding: 9px 20px;
            margin-top: 8px;
            font-size: 1.2rem;
            border-radius: 6px;
            border: 1px solid $sp-color-text-primary;
            width: 100%;
            outline: none;
          }
          input.error {
            border: 1px solid #f70e0e;
          }
        }
      }
      &__code {
        align-items: center;
        display: flex;
        &::-webkit-scrollbar {
          width: 5px;
          height: 2px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $sp-background-color-primary;
        }
        &___item {
          margin: 10px;
          & > .codew1 {
            border-radius: 10px;
            border: 1px solid rgba(168, 168, 168, 0.867);
            outline: none;
            text-align: center;
            font-size: 2.5rem;
            width: 70px;
            height: 90px;
            &::-webkit-inner-spin-button {
              display: none;
            }
            &:focus {
              border: 1px solid $sp-color-text-primary;
            }
          }
        }
      }
      .reg {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        text-align: center;
        .w {
          background-color: #ddd;
          padding: 10px 15px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          font-family: "Roboto", sans-serif;
          color: $sp-color-text-primary;
          img {
            padding-right: 5px;
            width: 35px;
          }
        }
        .input {
          input {
            outline: none;
            margin-left: 7px;
            padding: 0 12px;
            height: 100%;
            width: 100%;
            font-size: 1.2rem;
            border-radius: 10px;
            border: 2px solid $sp-color-text-primary;
            &::-webkit-input-placeholder {
              font-size: 0.96rem;
            }
            &::-webkit-inner-spin-button {
              display: none;
            }
          }
          input.errorPhone {
            border: 2px solid $sp-color-text-danger;
          }
          p.error {
            font-size: 0.9rem;
            margin-top: 5px;
            margin-left: -25px;
            font-weight: 400;
            color: $sp-color-text-danger;
          }
        }
      }
    }
    .btnLogin {
      margin-top: 20px;
      text-align: center;
      .sendCode {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        color: $sp-color-text-primary;
      }

      button[type="submit"],
      [type="button"] {
        margin-top: 10px;
        border: none;
        font-weight: 500;
        background-color: $sp-background-color-danger;
        color: $sp-color-text-white;
        border-radius: 8px;
        padding: 15px;
        width: 100%;
        text-align: center;
        font-size: 0.9rem;

        cursor: pointer;
      }
    }
    .twLogin {
      margin-top: 20px;
      text-align: center;
      .unline {
        border-top: 1px solid #ebebebdd;
        margin-bottom: -10px;
      }
      .tw {
        font-weight: 400;
        color: #9c9c9c;
        padding-left: 7px;
        padding-right: 7px;
      }
    }
    .orLogin {
      text-align: center;
      margin-top: 10px;
      & > button {
        padding: 15px 17px;
        color: #f6f6f6;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-weight: 500;
        i {
          font-size: 1rem;
        }
      }
      & > button.loginFacebook {
        background-color: #4064ac;
        margin-right: 8px;
      }
      & > button.loginGoogle {
        background-color: #ea4335;
      }
    }
  }
}
.product {
  .showAll {
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 0.9rem;
  }
  &__wp {
    display: flex;
    flex-wrap: wrap;

    &___item {
      cursor: pointer;
      transition: all 0.3s;
      border-radius: 7px;
      position: relative;
      margin: 6px;
      width: calc(16.66666666% - 12px);
      background-color: $sp-background-color-white;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(235, 235, 235);
      border-image: initial;
      border-radius: 12px;
      .freeShip {
        position: absolute;
        right: -7px;
        bottom: 55px;
        z-index: 999;
        img {
          transform: rotate(18deg);
          width: 75px;
        }
      }
      .point {
        position: absolute;
        right: 3px;
        background-color: $sp-color-text-primary;
        color: $sp-color-text-white;
        z-index: 99;
        top: 2px;
        font-weight: 600;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        line-height: 26px;
        text-align: center;
        font-size: 0.8rem;
      }
      .image {
        overflow: hidden;
        width: 100%;
        height: 200px;
        max-width: 100%;

        img {
          border-radius: 9px;
          transition: all 0.3s;
          object-fit: cover;
          width: 100%;
          max-width: 100%;
          height: 100%;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .sellable {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .col-1 {
          padding: 6px;
          display: flex;
          align-items: center;
          &:first-child {
            b {
              font-weight: 500;
            }
          }
          &:last-child {
            b {
              font-weight: 400;
              line-height: 3px;
            }
          }
          span {
            font-size: 0.9rem;
            font-weight: 500;
            color: $sp-color-text-success;
          }
          b {
            line-height: 1;
            color: #000;
            font-size: 0.9rem;
          }
          img {
            width: 29px;
          }
          box-icon {
            width: 1.2rem;
          }
        }
      }
      .name {
        padding: 6px;
        min-height: 40px;
        margin-top: 6px;

        p {
          width: 100%;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          font-weight: 600;
          overflow: hidden;
        }
      }

      .price {
        padding: 5px;
        margin-top: 5px;
        .text {
          font-weight: 400;
          font-family: "Roboto", sans-serif;
        }
        .t1 {
          text-decoration: line-through;
          font-size: 0.9rem;
          font-weight: 500;
          color: #787878;
        }
        .t2 {
          margin-left: 5px;
          font-weight: 600;
        }
      }
      .description {
        padding: 6px;
        margin-top: 6px;
        display: flex;
        align-items: center;

        .lw {
          padding-right: 8px;
          img {
            width: 30px;
            height: 30px;
          }
        }
        .addressLength {
          display: flex;
          align-items: center;
          h4 {
            color: $sp-color-text-danger;
            font-weight: 500;
            font-size: 0.9rem;
          }
          .fa-size {
            line-height: 9px;
            color: $sp-background-color-primary-2;
            padding-right: 2px;
          }
        }
      }
      .btn {
        padding: 10px;
        margin-top: 10px;
        button[type="button"],
        [type="submit"] {
          text-align: center;
          cursor: pointer;
          padding: 10px;
          border-radius: 8px;
          font-size: 1rem;
          outline: none;
          border: none;
          font-weight: 600;
          color: #181818;
          background-color: rgb(241 241 241 / 87%);
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .fa-size {
            margin-right: 4px;
            line-height: 9px;
            color: #181818;
          }
        }
      }
    }
  }
  .btnShow {
    text-align: center;
    margin-top: 10px;
    .show {
      background: none;
      border: none;

      font-size: 1rem;
      line-height: 21px;
      font-style: normal;
      color: $sp-color-text-dark;
      padding: 10px 30px;
      text-transform: uppercase;
      font-weight: 500;
      &:hover {
        color: $sp-color-text-primary;
      }
    }
    .fa-size {
      line-height: 22px;
    }
  }
}

/** Editor **/
.ck-editor {
  border-radius: 10px;
}
.ck-editor__editable[role="textbox"] {
  /* editing area */
  font-size: 0.85rem;
  min-height: 350px;
  font-family: "Roboto", sans-serif;
}
.ck.ck-toolbar.ck-toolbar_grouping {
  background-color: #e7e7e7;
}
.ck-content .image {
  /* block images */
  max-width: 80%;
  margin: 20px auto;
}
.pageTopFix {
  left: 230px !important;
  width: calc(100% - 230px) !important;
}

.tablePagination {
  border-top: 1px solid #ddd;
  padding: 7px;
  &__main {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .pre,
    .next {
      color: #051f4e;
      padding: 5px 15px;
    }
    .vl {
      padding: 5px 8px;
      color: $sp-color-text-dark-admin-2;
    }
    .active {
      border-radius: 2px;
      background-color: $sp-background-color-primary;
      color: $sp-color-text-white;
    }
    &___item {
      cursor: pointer;
      border-radius: 2px;
      border: 1px solid #ebebeb;
      margin-right: 5px;
      font-weight: 500;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.containerNotifyAdmin {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
.bodyAdmin {
  background-color: $sp-background-color-white-admin-2;
}
.formConfirmPassword {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;

  display: flex;
  background-color: rgba(0, 0, 0, 0.5);

  &__inner {
    padding: 1.25rem 2.75rem;
    background-color: $sp-background-color-white-admin-2;
    box-shadow: $boxShowCardBlack;
    margin: auto;
    border-radius: 7px;
    .header {
      padding: 10px;

      h4 {
        text-align: center;
        font-weight: 500;
        font-size: 1rem;
        i {
          margin-right: 3px;
        }
      }
      p {
        margin-top: 5px;
        font-size: 0.9rem;
      }
    }
    .body {
      .ipn {
        border: 1px solid #ddd;
        display: flex;
        align-items: center;

        .fa-size {
          margin-left: 6px;
          color: $sp-color-text-danger;
        }
        input {
          padding: 7px;
          border-radius: 6px;
          border: none;
          outline: none;
          background: none;
          width: calc(100% - 72px);
          &::-webkit-input-placeholder {
            font-size: 0.8rem;
          }
        }
        button {
          padding: 7px;
          width: 50px;
          border: none;
          outline: none;
          background-color: $sp-background-color-success;
          i {
            color: $sp-color-text-white;
          }
        }
      }
    }
  }
}
.navBarWebFixed {
  position: fixed;
  width: 100%;
  top: 0;
  visibility: hidden;
  z-index: 1111;
  transition: all 0.3s;
  .navbar__top {
    display: none;
  }
}
.notification {
  position: fixed;
  right: 30px;
  bottom: 150px;
  z-index: 9999;
  max-width: 381px;
  &__inner {
    .owp {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      padding: 25px;
      border-radius: 4px;
      position: relative;
      animation: SliderLeftNotification 0.4s;
      animation-fill-mode: forwards;
      overflow: hidden;
      position: relative;
      &:after {
        content: "";
        left: 0;
        z-index: 999;
        width: 6px;
        height: 100%;
        top: 0;
        border-radius: 4px;
        position: absolute;
      }
      .wdLoading-success {
        background-color: rgba(14, 137, 23, 0.78);
      }
      .wdLoading-danger {
        background-color: color(danger-opt-1);
      }
      .wdLoading {
        border-radius: 5px;
        left: 0;
        z-index: 1;
        bottom: 0;
        height: 4px;
        position: absolute;
      }
      .icon {
        padding-left: 5px;
        font-size: 1.5rem;
        &-success {
          color: #02742c;
        }
      }
      .text {
        margin-left: 5px;
      }
      .btn {
        margin-left: 5px;
        &-close {
          color: #ca0b00;
        }
        &-active {
          margin-top: 2px;
          font-size: 1.3rem;
          cursor: pointer;
        }
      }
    }
    .exit {
      animation: SliderRightNotification 0.4s;
      animation-fill-mode: forwards;
    }
    .success {
      background-color: rgba(122, 239, 165, 1);

      &:after {
        background-color: #39a560;
      }
    }
    .danger {
      background-color: color(danger-opt-02);
      &:after {
        background-color: color(danger-opt-1);
      }
    }
  }
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: flex;
  &__inner {
    margin: auto;
    .image {
      width: 900px;
      height: 500px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      iframe {
        width: 900px;
        height: 500px;
      }
    }
  }
}
.notifyFixed {
  position: fixed;
  right: 50px;
  bottom: 31px;
  transition: all 0.3s;
  &__inner {
    border: 1px solid #ddd;
    background-color: #fa9f47;

    width: auto;
    padding: 15px;
    border-radius: 6px;
    .title {
      color: #2c2c2c;
    }
    .text {
      font-size: 0.9rem;
    }
  }
}
.showNotifyFixed {
  animation: showNotifyFixed 0.3s forwards;
}
.hideNotifyFixed {
  animation: hideNotifyFixed 0.3s forwards;
}
@keyframes showNotifyFixed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideNotifyFixed {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.completionOrder {
  width: 100%;
  background-color: #ffff;
  height: 100vh;
  &__inner {
    .image {
      text-align: center;
      img {
        width: 800px;
      }
    }
    .text {
      text-align: center;
      .w {
        color: #3cb878;
        font-weight: 600;
        font-size: 1.5rem;
      }
    }
  }
}

.loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}
.loader:before {
  animation: before 2s infinite;
}
.loader:after {
  animation: after 2s infinite;
}
@keyframes before {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75),
      0 0.5em rgba(111, 202, 220, 0.75);
  }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75),
      1em 0.5em rgba(111, 202, 220, 0.75);
  }
  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }
}
@keyframes after {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75),
      -0.5em 0 rgba(233, 169, 32, 0.75);
  }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75),
      -0.5em 1em rgba(233, 169, 32, 0.75);
  }
  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }
}

$main-color-1: #2ecc71;
$main-color-2: #27ae60;
$second-color-1: #cc8914;
$background-color: #363636;
$bot-output-delay: 600ms;
.chatBox {
  position: fixed;
  right: 0;
  bottom: 17px;
  width: 330px;
  height: auto;
  z-index: 9999;
  .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #29b4ff;
    h5 {
      color: #2c1b1b;
    }
    .close {
      cursor: pointer;
    }
  }
}

.chatbot__overview {
  background-color: $background-color;
  display: flex;
  flex-flow: row nowrap;
  align-content: space-between;
  margin: 0 auto;
  padding: 0.5em;
  padding-bottom: 0;
  max-height: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 328px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
}

.chatbot__overview--container {
}

.chatlist {
  font-family: inherit;
  font-size: 0.9rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  width: 100%;
  max-width: 35em;
  margin: 0 auto;
  .userInput,
  .bot__output {
    padding: 5.5px;
    margin: 7.5px;
    max-width: 232px;
    word-break: break-word;
    background-color: #fff;
    border-radius: 5px;
    border-bottom: 1px solid #777;
  }
  .userInput {
    text-transform: lowercase;
    box-shadow: 1px 1px 2px #666;
    border-top: 4px solid $second-color-1;

    animation-name: animateBubble;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
  }
  .box__output,
  .userInput {
    font-size: 0.9rem;
  }
  .bot__output {
    align-self: flex-start;
    box-shadow: -1px 1px 2px #666;
    border-top: 4px solid $main-color-2;
    // transform-origin: left 50%;
    will-change: auto;
    height: auto;
    &:last-child {
      display: none;
    }
  }
  .bot__command {
    // border-bottom: 2px solid $main-color-1;
    color: #f5f5f5;
    // background-color: $main-color-1;
    color: $main-color-2;
    font-weight: 600;
    padding: 0.1em;
  }
  .bot__output:nth-child(1) {
    animation-delay: $bot-output-delay;
    animation-play-state: running;
  }
  .bot__output:nth-child(2) {
    animation-delay: ($bot-output-delay * 2);
    animation-play-state: running;
  }
  .bot__output:nth-child(3) {
    animation-delay: ($bot-output-delay * 3);
    animation-play-state: running;
  }
  .bot__output--standard:last-child {
    display: block;
  }
  .bot__output--failed {
    display: block !important;
  }
  .bot__output--second-sentence {
    display: block;
  }
  .bot__outputImage {
    max-width: 16em;
    height: 12em;
  }
}

@keyframes animateBubble {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.block--background {
  // background-color: $main-color-2;
}

.chatbox-area {
  margin: 0 auto;
  position: relative;
  bottom: 0;
  height: auto;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  .fa-left,
  .fa-right {
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 3px;
    line-height: 24px;
  }
  .fa-left {
    float: left;
  }
  .fa-right {
    float: right;
  }
  input {
    height: 30px;
    width: 81.8%;
    resize: none;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 4px;
    margin-top: 3px;
    outline: none;
  }
  button {
    border-radius: 4px;
    width: 20%;
    cursor: pointer;
    border: 1px solid #036aff;
    i {
      color: #036aff;
    }
  }
}

.boxChat {
  position: fixed;
  bottom: 50px;
  right: 50px;
  &__inner {
    width: 60px;
    height: 60px;
    background-color: #036aff;
    border-radius: 50%;
    text-align: center;
    line-height: 67px;
    cursor: pointer;
    .fa-css {
      color: #fff;
      font-size: 1.7rem;
    }
  }
}
.btn-disable {
  background-color: #0080ed9e;
}
