@keyframes ldio-cxg4k2dttv5 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.ldio-cxg4k2dttv5 div {
  position: absolute;
  width: 45px;
  height: 45px;
  border: 9px solid #0090ff;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-cxg4k2dttv5 div {
  animation: ldio-cxg4k2dttv5 0.9174311926605504s linear infinite;
  top: 50px;
  left: 50px;
}
.loadingio-spinner-rolling-o0si3la4pz {
  width: 58px;
  height: 58px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-cxg4k2dttv5 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.58);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-cxg4k2dttv5 div {
  box-sizing: content-box;
}

/** Loading z2zh0n**/

@keyframes ldio-m09wsst1j2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-m09wsst1j2 div {
  left: 47px;
  top: -33px;
  position: absolute;
  animation: ldio-m09wsst1j2 linear 1s infinite;
  background: #ffff;
  width: 6px;
  height: 12px;
  border-radius: 3px / 6px;
  transform-origin: 3px 26px;
}
.ldio-m09wsst1j2 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #fff;
}
.ldio-m09wsst1j2 div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #fff;
}
.ldio-m09wsst1j2 div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #fff;
}
.ldio-m09wsst1j2 div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #fff;
}
.ldio-m09wsst1j2 div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #fff;
}
.ldio-m09wsst1j2 div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #fff;
}
.ldio-m09wsst1j2 div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #fff;
}
.ldio-m09wsst1j2 div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #fff;
}
.ldio-m09wsst1j2 div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #fff;
}
.ldio-m09wsst1j2 div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #fff;
}
.ldio-m09wsst1j2 div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #fff;
}
.ldio-m09wsst1j2 div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #fff;
}
.loadingio-spinner-spinner-bbeydwj1ls {
  width: 51px;
  height: 0px;
  display: inline-block;

  background: rgba(255, 255, 255, 0);
}
.ldio-m09wsst1j2 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.51);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-m09wsst1j2 div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
